body{
	

}


a {
	color: white;
  
    text-decoration: none;
}

li {
    display: inline-block;
    margin-right: -4px;
	float: right;
	padding-right: 30px;
  }



  .navbar, .navbar-default {
	border-width: 0px;
	background-color: white;
	color: black;
 }

 .nav, .navbar-nav{
 	margin-left: 600px;
 }

 
 #banner{
 	background-size: 100%;
 	width: 100%;
 	margin-top: .5%;
 background-repeat: no-repeat;
 	height: 800px;
 	}
 	
 	#rocket{
 		padding-top: 100px;
 	}

 .about{
 	color: white;
 	text-align: center;
 	vertical-align: middle;
 	margin-top: 30px;

 }

 .aboutBlurb{
 	margin-top: 50%;
 	text-align: center;
 }


 .skills{
 	color: white;
 	text-align: center;
 }

 .skillsBlurb{
 	margin-top: 50%;
 	width: 100%;
	padding-right: 10px;
	text-align:center;
 }

 .work{
 	color: black;
 	text-align: center;
 	font-family: 'Nunito', sans-serif;
 	margin-top: 50%;
 	height: 800px;
 	overflow-y: auto;

 }

 .contact{
 	color: white;
 }

 .skillsBlurb{
 	text-align: center;
 	float: right;
 }

 .contact{
 	color: white;
 	font-family: 'Nunito', sans-serif;
 	text-align: center;
 }

 .right{
 	margin-right: 100px;
 	margin-bottom: 60px;
 	margin-top: -40px;
 }

 .left{
 	margin-left: 100px;
 	margin-bottom: 60px;
 	margin-top: -40px;
 }

 
/*
 #banner{
 	height: 300px;
 	background-color: #;
 	margin-top: 70p;
 	margin-bottom: -40px;
 }
 */
.col-sm-6{
	height: 800px;
	margin-top: -30px;
}
.col-sm-12{
	height: 300px;
	text-align: center;
}

.lex{
	text-align: center;
}

.lexBlurb{
	margin-left: 60px;
	margin-right: 60px;
	margin-bottom: 30px;
}

.skills{
	text-align: center;
	color: white;
	margin-top: 50%;
}

.scrollable {
    height: 800px; /* or any value */
    overflow-y: auto;
}

.contactBlurb{
	text-align: center;
	margin-top: 35%;
	color: black;
}

.footer{
 	height: 500px;
	width: 100%;
 	background-color: black;
 }
